include ../components/main-template/main-template

+main-template
  a(href="/second.html" style="margin-right: 20px;") Стать лохом
  a(href="/first.html" style="margin-right: 20px;") Не становиться лохом

  h1.hello Hello world!
    h2 Tip: Check your console
    p kekich