include ../components/main-template/main-template

+main-template
  a(href="/second" style="margin-right: 20px;") Стать лохом
  a(href="/first") Не становиться лохом

  h1.hello Hello world!
    h2 Tip: Check your console